{% extends "base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super }}{% endblock head_title %}
<style>
{% block style %} 
h1{
	color: #885533;
}
{% endblock style %}
</style>

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
	{% if instance.image %}
	<img src='{{ instance.image.url }}' class='img-responsive'/>
	{% endif %}
<h1>{{title}} <small>{{ instance.timestamp }}</small></h1>


	{{ instance.id }}<br/>
	{{ instance.title }}<br/>
	{{ instance.content }}<br/>



</div>

{% endblock content %}



<!--DOCTYPE html -->
<!-- <html>
	<body>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
{% endif %} -->


<!-- the mentioned extended part should go here -->
		<!-- 
	</body>
</html> -->